$base-font: $lato;

img{
    max-width: 100%;
}

body{
    font-family: $base-font;
    font-weight: $font-weight-light;
}

main{
    padding-top: 54.5px;
}


@media(min-width:576px){
    main{
        padding-top: 57px;
    }
}

@media(min-width:992px){
    main{
        padding-top: 77px;
    }
}

@media(min-width:992px){
    .lead-section-title{
        text-align: center;
        letter-spacing: 3rem;
        line-height: 8.4rem;
        font-weight: $headings-font-weight;
        font-size: 6rem;
    }
}

h1{
    font-size: 6rem;
    line-height: 8.4rem;
}