

// theme fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//font-family: 'Lato', sans-serif;
//font-family: 'bodonibook';

$lato: 'Lato', sans-serif;
$bodoni: 'bodonibook';

$headings-font-weight: 300;
