.lead-section{
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 74px;

    .lead-section-title{
        text-align: center;
        color: $white;
        font-family: $bodoni;
    }

}

.error-section{
    .btn{
        border: 1px solid #FFFFFF;
        color: $white;
        font-size: 1.4rem;
        letter-spacing: 0.031rem;
        line-height: 1.7rem;
        margin: auto;
    }
}
@media(min-width:768px){
    .lead-section{
        padding: 150px 0;
    }
}
@media(min-width:992px){
    .lead-section{
        padding: 200px 0;
    }
}

@media(min-width:1200px){
    .lead-section{
        padding: 200px 0;
    }
}

