.lead-section{
    padding: 50px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 74px;
    
    .lead-section-title{
        text-align: center;
        color: #FFFFFF;
        font-family: $bodoni;
    }
}

@media(min-width:992px){
    .lead-section{
        padding: 200px 0;
    }
    
    .lead-section-title{
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 3rem;
        line-height: 8.4rem;
        font-weight: $headings-font-weight;
        font-size: 6rem;  
    }
}






