
.professional-title{
    color: $primary;
    font-family: $bodoni;
    font-size: 3rem;
    font-weight: $font-weight-light;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
}
.professional-title:after{
    content: '';
    height: 1px;
    width: 74px;
    background-color: $rose;
    display: block;
    position: relative;
    margin-top: 43px;
    margin-bottom: 43px;


    .professional-title.text-center:after{
        margin-left: auto;
        margin-right: auto;
    }
}

.description{
    .professional-title-content{
        font-family: $lato;
        font-size: 3rem;
        letter-spacing: 0;
        line-height: 2.7rem;
        margin-top: 50px;
    }
    .professional-content{
        font-family: $lato;
        font-size: 1.6rem;
        font-weight: $font-weight-light;
        letter-spacing: 0;
        line-height: 2.3rem;
        margin-top: 35px;

    }
}

.professional-slider{

    .owl-dots{

        .owl-dot{        
        
            span{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $rose;
            }

        }
    }

}


@media(min-width:992px){
    .professional{
        .row{
            border: 1px solid $rose;
            padding: 54px;


        }
        .description{
            .professional-title-content{
                margin-left: 107px;
            }
            .professional-content{
                margin-left: 107px;

            }
        }
    }
}


