
.single-service{
padding: 50px;
    .single-service-title{
        margin-bottom: 25px;
        font-size: 4.4rem;
    }

}

.trends-single-service{
    padding-bottom:  135px;
}

@media(min-width:1200px){
    .single-service{
        padding: 170px 0;
    }
}

